![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a maximum score of 800 points. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [72]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head(20)

                                          school_name  ... percent_tested
0   New Explorations into Science, Technology and ...  ...            NaN
1                                Essex Street Academy  ...           78.9
2                        Lower Manhattan Arts Academy  ...           65.1
3     High School for Dual Language and Asian Studies  ...           95.9
4       Henry Street School for International Studies  ...           59.7
5                      Bard High School Early College  ...           70.8
6        Urban Assembly Academy of Government and Law  ...           80.8
7                             Marta Valle High School  ...           35.6
8                 University Neighborhood High School  ...           69.9
9                              New Design High School  ...           73.7
10                                   Pace High School  ...           87.8
11  High School for Health Professions and Human S...  ...           86.9
12             High School for Language and Diplomacy  ...           70.2
13          International High School at Union Square  ...           53.2
14              Institute for Collaborative Education  ...           78.6
15                          Gramercy Arts High School  ...           79.6
16              Urban Assembly New York Harbor School  ...           78.8
17           Richard R. Green High School of Teaching  ...           60.0
18                             Millennium High School  ...           94.0
19  Urban Assembly School of Business for Young Women  ...            NaN

[20 rows x 7 columns]

In [73]:
#Some data exploration
#print(schools.shape)
#print("---------------------------------------------")
#print(schools.columns)
#print("---------------------------------------------")
#print(schools.info())

In [74]:
#Finding schools with the best math scores
#best_math_schools=schools[schools["average_math"]>=640]
#print(best_math_schools[["school_name","average_math"]])
best_math_schools = schools[schools["average_math"] >= 640][["school_name", "average_math"]].sort_values("average_math", ascending=False)
best_math_schools

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [75]:
#Identifying the top 10 performing schools
#schools["total_SAT"]=schools["average_math"]+schools["average_reading"]+schools["average_writing"]
#schools_sorted = schools.sort_values(by='total_SAT', ascending=False)
#top_10_schools = schools_sorted.head(10)
#print(top_10_schools)
# Calculate total_SAT per school
schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]

#Who are the top 10 performing schools?
top_10_schools = schools.sort_values("total_SAT", ascending=False)[["school_name", "total_SAT"]].head(10)
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [76]:
#Locating the NYC borough with the largest standard deviation in SAT performance

# Which NYC borough has the highest standard deviation for total_SAT?
boroughs = schools.groupby("borough")["total_SAT"].agg(["count", "mean", "std"]).round(2)
print(boroughs)
print("------------------------------------------")

# Filter for max std and make borough a column
largest_std_dev = boroughs[boroughs["std"] == boroughs["std"].max()]
print(largest_std_dev)
print("------------------------------------------")

# Rename the columns for clarity
largest_std_dev = largest_std_dev.rename(columns={"count": "num_schools", "mean": "average_SAT", "std": "std_SAT"})
print(largest_std_dev)

               count     mean     std
borough
Bronx             98  1202.72  150.39
Brooklyn         109  1230.26  154.87
Manhattan         89  1340.13  230.29
Queens            69  1345.48  195.25
Staten Island     10  1439.00  222.30
------------------------------------------
           count     mean     std
borough
Manhattan     89  1340.13  230.29
------------------------------------------
           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29